.pop {}

.trender {
  font-size: 50px;

}

.lh {
  height: 20vh;
  line-height: 20vh;
  background-position: 20% 50%;
  background-repeat: no-repeat;
  background-size: 9rem;
  color: white;
  text-align: center;
}

.compo {
  font-weight: bold;

}
