<div class="row">
  <div class="col-sm-2 bg-dark text-center">
    <img src="" class=" m-2 img-fluid pop" alt="">

  </div>
  <div class="col-sm-10 bg-dark ">
    <h1 class="color-white trender lh  " style="background-image:url(./assets/pop.png)">TRENDER .....</h1>
  </div>


</div>



<ul class="nav nav-tabs compo">
  <li class="nav-item">
    <a class="nav-link" routerLink="home">Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="about">About</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="movies">Movies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="people">People</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="tv">TV</a>
  </li>


</ul>
